{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Posts - {{post.title}}{% endblock %}</h1>
{% endblock header %}

{% block content %}
<article class="post">
  <header>
    <div>
      <div class="about">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
    </div>
    {% if g.user['id'] == post['author_id'] %}
      <a href="{{ url_for('blog.update', id=post['id'])}}" class="action">Edit</a>
    {% endif %}
  </header>
  <a onclick="window.history.back()">Go back</a>
  <p class="body">{{ post['body'] }}</p>
  <footer>
    <p>Likes: {{ post['likes'] }}</p>    
    {% if not post['liked'] %}
      <a href="{{ url_for('blog.like', post_id=post['id']) }}">Like</a>
    {% else %}
      <a href="{{ url_for('blog.dislike', post_id=post['id']) }}">Dislike</a>
    {% endif %}
  </footer>
</article>
{% endblock %}